<table border="0" cellpadding="0" cellspacing="0">
<tr><td valign="top" width="$conf.gui.colwidth">

<table border=0 cellpadding=1 cellspacing=0 width="$conf.gui.colwidth" class=dashed>
<tr><td valign=top>
<a href="localis.php" class="noa"><img src="$conf.map.url/mini_+$conf.map.name+.png" width="$conf.map.ref_sizex" 
height="$conf.map.ref_sizey" name="ref" alt="$conf.map.name" hspace="0" vspace="0"  border="0" align="left"></a></td></tr></table>

<table border="0" cellpadding="8" cellspacing="0" class="dashed" width="$conf.gui.colwidth">
<tr><td valign="top">
<div class="foot">Localis is <b>still in development stage</b>, so the functionining of this interface may be disturbed sometimes.<br>
Contact: <a href="mailto:mose@makina-corpus.net">mose</a>.</div>
</td></tr></table>

</td> 
<td valign="top">

<div class=corps>
<h2>Aide</h2>
Localis allows visualizing the result of a search made on several databases. 
On the other hand, Localis is an online contributive cartographic tool.
It allows the user to add and qualify points on a map, making them accessible to other
users. This whole set of geo-referenced and cartographic databases constitutes
"the source of the information".  
<br><br>
This tool consists of several modules intended for users : <br><br>

<b>The "search form" module : </b><br>
It is possible to define the elements to search by different ways : 
<ul><li>The "Search" field : it consists of a search engine.</li>
<li>The drop-down menu : all the objects in the "information source" can be accessible
according to pre-qualified categories listed in drop-down menus.</br>
It is of course possible to cross selected elements through these different search entries,
in order to obtain more precise answers.</li></ul>

<ul><b>Usage note :</b><br>
To pass the following step, it is necessary to select the results display mode : as a "map"
in image mode, or as "list" in text mode.
This selection will validate all the options choosed by the user and submit this request
for processing.</ul>
<br>

<b>The "list mode (text)" module  :</b><br>
The whole answers to the request are displayed as a list. A link
leads to a detailed index card for each of those answers.
<br><br><br>

<b>Le module "mode carte (image)" :</b><br>

The list is accompanied by a localisation of the interest points on a map..<br>
A set of tools inherent to this display type is now visible, these tools are :
<ul>
<li> The navigation map : This fixed scale display of the whole concernerd geographical
zone allows the user to position the visible representation in the main image.</li>

<li>The "re-suit" button : it allows displaying the whole map of a region. It is very useful, 
for example, after having navigated on a map to be able to come back to the global view without
losing the initial request.</li>

<li>The "400x400" pull-down menu : it offers various choices for displaying the main map (200x200, 
400x400,600x600,800x800).
To change the resolution by refreshing the page, the user has to click on the validation button '>>',
In case of changing resolution, the user does not lose nor the current search nor the choosen centering.</li>

<li>"click" options of the mouse on the maqp : it is possible to select an option by activating
the corresponding "radio button".<br>
The avaliable options are : <ul>
<li>the <b>"Plant a Flag"</b> option (the yellow flag): when selecting this option, the user has
the ability to "plant" this flag on the map. After having this operation complete, he'll be 
able to define the localized point according to many strings. Once qualified, this point will
be accessible to the search by other users.</li>

<li>The <b>"Magnifying Glass"</b> option : the zoom-in / zoom-out icons are - (out) and + (out).
The scale and the distance indicator visible at the bottom of the main map are updated each time
this option is used.</li>

<li>The <b>"Re-center"</b> option : located between the magnifying glasses (cross icon), allows,
when selected, to move on the map. The selected point (by a click) on the map will be in the center 
of the map which will be displayed on the next page. This option has a similar behavior on the main
map as on the navigation map.</li>
<br></ul>
<li>The "layer" named elements, besides the search answers, which will be part of the cartographic answer
and will help readability, can be selected idependently (city names, regions outlines...).<br>
In order to ask for the display of any of the layers in a simple way for a same request, the user has the
button "Re-calculate".</li>
</ul>
<br>
<b>Usage note about Localis URLs :</b><br>
After having obtained the display of the needed informations with the desired readability level,
(presence of such or such layer, resolution of x by x), the user can store the url of this view/page
with all the informations composing it. That is the string allowing to obtain the informations 
from the databases.<br><br>
This peculiarity has got two main advantages : <ul>

<li>it allows capitalizing in the "bookmarks" ("favorites") the time spent by the user to obtain
a personal reference document (by storing the search string) <li>

<li>it also allows to transmit this page's url to an interlocutor, saving like this time to find
the same view, and at the same time being sure to work on an updated document, because using the 
same request to search into the same databases to generate the map.</li>
</ul>
<br>
Please keep in mind that this tool is still in development stage, so you may notice imperfections or dysfunctions.
Thanks for bug-reporting in that case to <a href=mailto:mose@makina-corpus.org>mose</a>.
</div>
</td></tr></table>

