<table border="0" cellpadding="0" cellspacing="0">
<tr><td valign="top" width="$conf.gui.colwidth">

<table border=0 cellpadding=1 cellspacing=0 width="$conf.gui.colwidth" class=dashed>
<tr><td valign=top>
<a href="localis.php" class="noa"><img src="$conf.map.url/mini_+$conf.map.name+.png" width="$conf.map.ref_sizex" 
height="$conf.map.ref_sizey" name="ref" alt="$conf.map.name" hspace="0" vspace="0"  border="0" align="left"></a></td></tr></table>

<table border="0" cellpadding="8" cellspacing="0" class="dashed" width="$conf.gui.colwidth"> 
<tr><td valign="top">
<div class="foot">The map used here is an example of usage.</div>
</td></tr></table>

</td> 
<td valign="top">
<div class="corps">
<h2>Bienvenue !</h2>
<!-- cette phrase est peut-être un peu lourde -->
Localis is a cartographic online contributive tool. 
It allows to show on the map points inserted by other users, and add your own.<br><br>

France map is provided as an example, but an administration interface allows feeding this tool
with your own maps in .shp and .dbf format</div>

<div class=dashed style=padding:10>
+ Public workspace on <a href=http://developer.berlios.de/projects/localis>http://developer.berlios.de/projects/localis</a>.<br>
+ Mailing list on  <a href=https://lists.berlios.de/mailman/listinfo/localis-general>localis-general@lists.berlios.de</a>.<br>
+ Permanent meeting place on <b>irc.freenode.net</b> channel <b>#localis</b>.<br>
</div>

<div class=dashed style=padding:10>
<div style=font-weight:bold;font-size:140%;color:#33333>En service</div>
+ <a href=http://accespublic-aquitaine.org>http://accespublic-aquitaine.org</a><br>
<div class=foot>This project has been leaded in the activities workframe of Média-Cités's Resources Center for Public Multimedia Access Points 
It's the result of a partnership between Médias-Cité for management ingeneering of data and Makina-Corpus for the tool development.
</div>
</div>

</td></tr></table>

