<table border="0" cellpadding="0" cellspacing="0">
<tr><td valign="top" width="$conf.gui.colwidth">

<table border=0 cellpadding=1 cellspacing=0 width="$conf.gui.colwidth" class=dashed>
<tr><td valign=top>
<a href="localis.php" class="noa"><img src="$conf.map.url/mini_+$conf.map.name+.png" width="$conf.map.ref_sizex" 
height="$conf.map.ref_sizey" name="ref" alt="$conf.map.name" hspace="0" vspace="0"  border="0" align="left"></a></td></tr></table>

<table border="0" cellpadding="8" cellspacing="0" class="dashed" width="$conf.gui.colwidth"> 
<tr><td valign="top">
<div class="foot">La carte utilisée ici est un exemple d'utilisation.</div>
</td></tr></table>

</td> 
<td valign="top">
<div class="corps">
<h2>Bienvenue !</h2>

Localis est un outil cartographique en ligne contributif. Il permet de visualiser sur la carte 
des points de saisie d'autres utilisateurs, et d'y ajouter les siens.<br><br>

La carte de France est fournie en exemple, mais une interface d'administration permet de nourrir
cet outil de vos fonds de carte au format .shp et .dbf</div>

<div class=dashed style=padding:10>
+ Espace de travail public sur <a href=http://developer.berlios.de/projects/localis>http://developer.berlios.de/projects/localis</a>.<br>
+ Liste de discussion sur <a href=https://lists.berlios.de/mailman/listinfo/localis-general>localis-general@lists.berlios.de</a>.<br>
+ Lieu de rencontre permanent sur <b>irc.freenode.net</b> channel <b>#localis</b>.<br>
</div>

<div class=dashed style=padding:10>
<div style=font-weight:bold;font-size:140%;color:#33333>En service</div>
+ <a href=http://accespublic-aquitaine.org>http://accespublic-aquitaine.org</a><br>
<div class=foot>Ce projet est mené dans le cadre des activités de Centre de Ressources pour les Lieux d'Accès Publics au Multimédia de Médias-Cité.
Il est le fruit d'un partenariat entre Médias-Cité pour l'ingénierie de gestion des données et Makina-Corpus pour le développement de l'outil.
</div>
</div>

</td></tr></table>

