<table border="0" cellpadding="0" cellspacing="0">
<tr><td valign="top" width="$conf.gui.colwidth">

<table border=0 cellpadding=1 cellspacing=0 width="$conf.gui.colwidth" class=dashed>
<tr><td valign=top>
<a href="localis.php?" class="noa"><img src="$conf.map.url/mini_+$conf.map.name+.png" width="$conf.map.ref_sizex" 
height="$conf.map.ref_sizey" name="ref" alt="$conf.map.name" hspace="0" vspace="0"  border="0" align="left"></a></td></tr></table>

<table border="0" cellpadding="8" cellspacing="0" class="dashed" width="$conf.gui.colwidth"> 
<tr><td valign="top">
<div class="foot">The map used here is an example of usage.</div>
</td></tr></table>

</td> 
<td valign="top">
<div class="corps">
<h2>Welcome !</h2>
<!-- cette phrase est peut-être un peu lourde -->
Localis is a cartographic tool suited for web online contribution. 
It allows to display on the map points inserted by other users, and add your own.<br><br>

France map is provided as an example, but an administration interface allows feeding this tool
with your own maps in .shp and .dbf format</div>

</td></tr></table>

