<table border='0' cellpadding='8' cellspacing='0' class='topnav'>
<tr><td valign="bottom" bgcolor="#d8dbdf" align="center" width="128">
<div class="localis"><a href="index.php?$qlang" class="noa">&nbsp;Localis&nbsp;</a></div>
<div><a href="index.php?help=1$qlang" class="dashed">&nbsp;Help&nbsp;</a></div>
</td>
<td valign="bottom" align="center">
Display in<br>
&nbsp;<input type="submit" name="action" value="$conf.gui.map_button" class="submit">
<input type="submit" name="tpl" value="$conf.gui.list_button" class="submit">
</td>
<td valign="bottom" align="left">
<b>Search</b> <input type="text" size="34" name="search" value="$search"></font><br>
<b>Type</b> <select name="type">
$menu_type
</select>
<input type=image name=forcetypelug value='lug' src="/maps/images/tux.png" hspace=3 vspace=3 width=15 height=16 border=0
onmouseover="return overlib('<b>LUGs & FSUG</b><br>Free Software and Linux Users Groups.', WIDTH, 150);" onmouseout='return nd();'>
<input type=image name=forcetypefirstjeudi value='firstjeudi' src="/maps/images/comp2.png" hspace=3 vspace=3 width=15 height=16 border=0
onmouseover="return overlib('<b>First Jeudis</b><br>and other Linux and Free Software users public meetings.', WIDTH, 150);" onmouseout='return nd();'>
<input type=image name=forcetypeevent value='event' src="/maps/images/flag_blue.png" width=15 height=16 hspace=3 vspace=3  border=0
onmouseover="return overlib('<b>Events</b><br>in the world of Free Software.', WIDTH, 150);" onmouseout='return nd();'>
<input type=image name=forcetypehuman value='human' src="/maps/images/human.png" hspace=3 vspace=3 width=15 height=16 border=0
onmouseover="return overlib('<b>Humans</b><br>Fearless network adventurers.', WIDTH, 150);" onmouseout='return nd();'>
<input type=image name=forcetypetrolls value='trolls' src="/maps/images/troll.png" hspace=3 vspace=3 width=15 height=16 border=0
onmouseover="return overlib('<b>Trolls</b><br>Raising culture, related to Gigax (troll); Adams (42); Stallman (musical folklore).', WIDTH, 150);" onmouseout='return nd();'>
</td></tr></table>
