<table border="0" cellpadding="0" cellspacing="0">
<tr><td valign="top" width="$conf.gui.colwidth">

<table border=0 cellpadding=1 cellspacing=0 width="$conf.gui.colwidth" class=dashed>
<tr><td valign=top>
<a href="localis.php" class="noa"><img src="$conf.map.url/mini_+$conf.map.name+.png" width="$conf.map.ref_sizex" 
height="$conf.map.ref_sizey" name="ref" alt="$conf.map.name" hspace="0" vspace="0"  border="0" align="left"></a></td></tr></table>

<table border="0" cellpadding="8" cellspacing="0" class="dashed" width="$conf.gui.colwidth">
<tr><td valign="top">
<div class="foot">Localis est <b>en cours de developpement</b>, le fonctionnement de cette interface peut parfois etre perturbé.<br>
Contact: <a href="mailto:mose@makina-corpus.net">mose</a>.</div>
</td></tr></table>

</td> 
<td valign="top">

<div class=corps>
<h2>Aide</h2>
Localis permet de visualiser le résultat d'une recherche effectuée dans plusieurs
bases de données. D'autre part, Localis est un outil cartographique en ligne contributif.
Il permet à l'utilisateur d'ajouter et de qualifier sur une carte des points, les rendant
accessibles aux autres utilisateurs. L'ensemble de ces bases de données référentielles et 
cartographiques constitue "la source de l'information". 
<br><br>
Cet outil est composé de plusieurs modules à destination des utilisateurs : <br><br>

<b>Le module "formulaire de recherche" : </b><br>
Il est possible de déterminer les éléments à rechercher par différents moyens de saisie :
<ul><li>Le champ "Recherche" : il s'agit d'un moteur de recherche.</li>
<li>Le menu déroulant : les objets présents dans "la source de l'information" peuvent être 
accessibles selon des catégories pré-qualifiées listées dans des menus déroulants.<br>
Il est bien sûr possible de croiser les éléments sélectionnés au travers de ces différents 
moyens de saisie, pour obtenir des réponses plus précises.</li></ul>

<ul><b>Note d'utilisation :</b><br>
Pour passer à l'étape suivante, il est nécessaire de sélectionner le mode d'affichage des 
résultats : sous forme de "carte" en mode image, ou sous forme de "liste" en mode texte. 
Cette sélection aura pour effet de valider l'ensemble des options choisies par l'utilisateur 
et de soumettre cette requête au traitement.</ul>
<br>

<b>Le module "mode liste (texte)" :</b><br>
L'ensemble des réponses à la requête est affiché sous forme de liste. Un lien mène vers une 
fiche détaillée pour chacune de ces réponses.
<br><br><br>

<b>Le module "mode carte (image)" :</b><br>
La liste est accompagnée de la localisation des points sur une carte.<br>
Une série d'outils inhérents à ce type d'affichage est maintenant visible, ces outils sont :
<ul>
<li> La carte de navigation : cette reprise à une échelle fixe de l'ensemble de la zone 
géographique concernée par l'outil mis en oeuvre permet à l'utilisateur de positionner la 
représentation visible dans l'image principale.</li>

<li>Le bouton "recadrer" : il permet d'afficher la carte de la région dans sa totalité. 
Il est très pratique, par exemple, après avoir navigué sur la carte de pouvoir revenir à 
la vue d'ensemble.</li>

<li>Le menu déroulant "400x400" : il propose différents choix de résolution pour l'affichage 
de la carte principale (240x240, 400x400, 600x600, 800x800). Pour changer la résolution en 
rafraîchissant la page, l'utilisateur doit cliquer sur le bouton de validation '>>'. 
En cas de changement de résolution l'utilsateur ne perd ni la recherche en cours, ni le 
cadrage choisi.</li>

<li>les options du "clic" de la souris sur la carte : il est possible de sélectionner une 
option en activant le "boutons radio" correspondant. <br>
Les options accessibles sont : <ul>
<li>l'option <b>"Planter un Drapeau"</b> (le drapeau jaune): lors de la sélection de cette 
option, l'utilisateur a la possibilité de "planter" ce drapeau sur la carte. Aprés avoir 
effectué cette opération, il pourra alors renseigner le point ainsi localisé selon plusieurs 
critères. Une fois qualifié, ce point sera accessible à la recherche par les autres 
utilisateurs.</li>
<li>l'option <b>"Loupe"</b>, les icônes de zoom sont de type - (pour s'éloigner) et + 
(pour se rapprocher). L'échelle ainsi que l'indicateur de distance visibles au bas de la 
carte principale sont remis à jour à chaque utilisation de cette option.</li>
<li>l'option <b>"Recentrer"</b> située entre les loupes (icône de la croix) permet, 
quand elle est sélectionnée, de se déplacer sur la carte. Le point séléctionné (par un clic) 
sur la carte sera au centre de la carte qui s'affichera sur la page suivante. Cette option 
a un comportement similaire sur la carte principale ainsi que sur la carte de navigation.</li>
<br></ul>
<li>Les éléments que l'on nomme "calque" (layer") qui, outre les réponses à la recherche, 
feront partie de la réponse cartographique et aideront à la lisibilité, peuvent être 
sélectionnés indépendament (nom des villes, contour des régions...).<br>
De manière à pouvoir demander l'affichage de tel ou tel calque de façon simple pour une même 
requête, l'utilisateur dispose du bouton "Recalculer".</li>
</ul>
<br>
<b>Note d'utilisation à propos des URL de Localis :</b><br>

Après avoir obtenu l'affichage des informations désirées avec le niveau de lisibilité souhaité 
(présence de tel ou tel calque, résolution de tant par tant), l'utilisateur peut conserver 
l'adresse de cette vue/page avec l'ensemble des informations la constituant. C'est à dire la 
requête permettant d'obtenir les informations dans les bases.<br><br>
Cette particularité a deux avantages principaux : <ul>
<li>elle permet de capitaliser dans les "signets" ("favoris") le temps passé par l'utilisateur 
pour obtenir un document de référence personnel (en stockant la requête) </li>
<li>elle permet, par ailleurs, de pouvoir transmettre l'adresse de cette page à un interlocuteur, 
lui permettant ainsi de ne pas perdre de temps à retrouver la même vue que son correspondant, 
tout en étant certain de travailler par la suite sur un document à jour, puisqu'utilisant 
la même requête pour interroger les mêmes bases pour générer la carte.</li>
</ul>
<br>
Gardez à l'esprit que cet outil est en développement, vous pourrez constater des imperfections voire des dysfonctionnements.<br>
Merci de les signaler, le cas échéant, à <a href=mailto:mose@makina-corpus.org>mose</a>.
</div>
</td></tr></table>

