<table border="0" cellpadding="0" cellspacing="0">
<tr><td valign="top" width="$conf.gui.colwidth" align=right>

<table border="0" cellpadding="1" cellspacing="0" width="$conf.gui.colwidth" class="dashed">
<tr><td valign="top" align="center">
<input type="hidden" name="forceextent" id="forceextent" value="">
<input type="image" src="$ref_src" width="$conf.map.ref_sizex" 
height="$conf.map.ref_sizey" name="ref" alt="$conf.map.name" hspace="0" vspace="0" border="0"><br>
<input type="submit" name="fit" value="$conf.gui.fit" class="submit" style="width: 60%;" id="106" onclick="document.f.forceextent.value='1'; document.f.extent.value=''; document.f.scale.value=''; document.f.submit();">
<!--a href="javascript:document.f.forceextent.value='1'; document.f.extent.value=''; document.f.scale.value=''; document.f.submit();" class="refbutton">Recadrer</a-->
<!--input type=image src=images/recadrer.png alt=Recadrer name=forceextent value="1" border=0 vspace=0 hspace=0-->
</td></tr></table>
<table border="0" cellpadding="4" cellspacing="0" width="$conf.gui.colwidth" class="dashed">
<tr><td valign="middle"><select name="size" class="submit">
<option value="240x240" $size_240x240>240x240</option>
<option value="400x400" $size_400x400>400x400</option>
<option value="600x600" $size_600x600>600x600</option>
<option value="800x800" $size_800x800>800x800</option>
</select></td>
<td align="center" valign="middle">
<div><input type="submit" name="resize" value=" &gt;&gt; " class="submit"></div>
</td></tr></table>

<table border="0" cellpadding="1" cellspacing="0" width="$conf.gui.colwidth" class="dashed">
<tr>

<td valign="top" align="center" class="tool$checkmapImg" onclick="document.f.interface[0].checked=true;displayInterface('mapImg');"><div>
<input type="radio" name="interface" value="mapImg" onclick="displayInterface('mapImg');" $checkmapImg>Infos</div></td>
<td valign="top" align="center" class="tool$checkmapInput" onclick="document.f.interface[1].checked=true;displayInterface('mapInput');"><div>
<input type="radio" name="interface" value="mapInput" onclick="displayInterface('mapInput');" $checkmapInput>Outils</div></td>

</tr></table>

<table border="0" cellpadding="2" cellspacing="1" width="100%" class="dashed">
<tr><td valign="top" width="25%" align="center" class="tool$action_edition" style=background:#efdebe
onclick='document.f.edition.checked=true;' onmouseover="return overlib('<div class=list style=\'text-align:center;\'>Edition</div>', WIDTH, 80);" onmouseout="return nd();"><div>
<img src="images/edit.png" width="20" height="20" hspace="0" vspace="0" border="0" alt="" valign="top"><br>
<input type="radio" id="edition" name="action" value="edition" $action_edition></div></td>
<td valign="top" width="25%" align="center" class="tool$action_zoomout"
onclick='document.f.zoomout.checked=true;' onmouseover="return overlib('<div class=list style=\'text-align:center;\'>Zoom arrière</div>', WIDTH, 80);" onmouseout="return nd();"><div>
<img src="images/zoomout2.png" width="20" height="20" hspace="0" vspace="0" border="0" alt="" valign="top"><br>
<input type="radio" id="zoomout" name="action" value="zoomout" $action_zoomout></div></td>
<td valign="top" width="25%" align="center" class="tool$action_travel"
onclick='document.f.travel.checked=true;' onmouseover="return overlib('<div class=list style=\'text-align:center;\'>Déplacement</div>', WIDTH, 80);" onmouseout="return nd();"><div>
<img src="images/travel.png" width="20" height="20" hspace="0" vspace="0" border="0" alt="" valign="top"><br>
<input type="radio" id="travel" name="action" value="travel" $action_travel></div></tD>
<td valign="top" width="25%" align="center" class="tool$action_zoomin"
onclick='document.f.zoomin.checked=true;' onmouseover="return overlib('<div class=list style=\'text-align:center;\'>Zoom avant</div>', WIDTH, 80);" onmouseout="return nd();"><div>
<img src="images/zoomin2.png" width="20" height="20" hspace="0" vspace="0" border="0" alt="" valign="top"><br>
<input type="radio" id="zoomin" name="action" value="zoomin" $action_zoomin></div></td>
</td></tr></table>

<table border="0" cellpadding="4" cellspacing="0" width="100%" class="dashed">
<tr><td valign="top">
<table border="0" cellpadding="0" cellspacing="0" width="100%">
$layer_menu</table>
<input type="submit" name="refresh" value="$conf.gui.refresh" class="submit" id="106">
</td></tr></table>

<table border="0" cellpadding="8" cellspacing="0" width="100%"><tr><td valign="top">
<div class="foot">Pour ajouter un point utiliser le drapeau doré.</div><br>
<div class="foot">Localis est <b>en cours de développement</b>, le fonctionnement de cette interface peut parfois être perturbé.</div>
<div class="foot">Contact Technique : <a href="mailto:mose@makina-corpus.net">mose</a>.</div>
</td></tr></table>
<input type="hidden" name="extent" value="$extexploded">
<input type="hidden" name="scale" value="$scl">
</td>
<td valign="top">
<table border="0" cellpadding="0" cellspacing="0" class="dashed">
<tr><td valign="top">
<map name="localisation" id="localisation">
$map_locations
</map>
<img class="map" id="mapImg" name="mapImg" src="$image_src" width="$sizex" height="$sizey" alt="" hspace="0" vspace="0" border="0" usemap="#localisation">
<input id="mapInput" type="image" src="$image_src" width="$sizex" height="$sizey" alt="" hspace="0" vspace="0" class="map" border="0" usemap="#localisation">
</td></tr></table>

<table border="0" cellpadding="0" cellspacing="0" width="100%">
<tr><td valign="top"><div class="foot">Echelle: 1 / $scl eme</div></td>
<td valign="top" align="right">
<div class="foot">Copyright IGN (c)</div>
</td></tr></table>
<img src="$leg_src" border="0" alt="legende">
</td>
<td valign=top>
$right
</td></tr></table>
</form>

