<table border="0" cellpadding="0" cellspacing="0">
<tr><td valign="top" width="$conf.gui.colwidth">

<table border=0 cellpadding=1 cellspacing=0 width="$conf.gui.colwidth" class=dashed>
<tr><td valign=top>
<a href="localis.php" class="noa"><img src="$conf.map.url/mini_+$conf.map.name+.png" width="$conf.map.ref_sizex" 
height="$conf.map.ref_sizey" name="ref" alt="$conf.map.name" hspace="0" vspace="0"  border="0" align="left"></a></td></tr></table>

<table border="0" cellpadding="8" cellspacing="0" width="100%">
<tr><td valign="top" align=center>
<div class="base" style=padding-top:1;margin-top:2;><a class=base href="http://debian.org"><img src="images/debianmade.png" hspace=0 vspace=1 width="88"
height="30" alt="Powered by Debian" border="0"></a></div>
<div class="base" style=padding-top:1;margin-top:2;><a class=base href="http://vim.org"><img src="images/vimmade.png" hspace=0 vspace=1 width="88"
height="30" alt="Made with VIM" border="0"></a></div>
<div class="base" style=padding-top:1;margin-top:2;><a class=base href="http://www.bosrup.com/web/overlib/"><img src="images/overlib.png" hspace=0 vspace=1 width="88" height="31" alt="Popups by overLIB" border="0"></a></div>
</td></tr></table>

</td> 
<td valign="top">
<div class=corps>
<h2>Créditos</h2>

<ul> <b>Software Libre</b>
<li> Apache : http://apache.org/
<li> EasyMapServer : http://easymapserver.berlios.de/
<li> GDAL : http://remotesensing.org/gdal/
<li> Gimp : http://gimp.org/
<li> Mapserver : http://mapserver.gis.umn.edu
<li> MySQL : http://www.mysql.com/
<li> OverLib : http://www.bosrup.com/web/overlib/
<li> OGR : http://gdal.velocet.ca/projects/opengis/
<li> PHP : http://php.net/
<li> Sketch : http://sketch.sourceforge.net/
</ul>

<ul> <b>Desarrollo</b>
	<li> Espacio de trabajo en <a href=http://developer.berlios.de/projects/localis/>BerliOS</a>
</ul>

<ul> <b>Los devs</b>
<li> <a href=mailto:mose@makina-corpus.org >mose</a>
<li> <a href=mailto:mastre@makina-corpus.org >mastre</a>
<li> <a href=mailto:ramzi.oueslati@makina-corpus.org >raz</a>
</ul>

<ul> <b>Histórico</b>
<li> octubre 2002 : release bajo licencia GNU/GPL de Localis y EasyMapServer
<li> agosto 2002 : trabajo sobre la v0.3 para lograr una herramienta más genérica, utilizable en otros contextos, y release en GPL.
<li> julio 2002 : Localis v0.2 es instalado en el servidor de Médias-cité.
<li> mayo 2002 : localis v0.1 funciona en el servidor de Makina.
<li> marzo 2002 : medias-cité financia una parte del desarrollo de Localis, con el auspicio del Consejo Regional de Aquitania, en el marco de su utilización para la representación de polos de acceso públicos en Aquitania (Francia).
</ul>
</div>
</td></tr></table>

