<table border="0" cellpadding="0" cellspacing="0">
<tr><td valign="top" width="$conf.gui.colwidth">

<table border=0 cellpadding=1 cellspacing=0 width="$conf.gui.colwidth" class=dashed>
<tr><td valign=top>
<a href="localis.php" class="noa"><img src="$conf.map.url/mini_+$conf.map.name+.png" width="$conf.map.ref_sizex" 
height="$conf.map.ref_sizey" name="ref" alt="$conf.map.name" hspace="0" vspace="0"  border="0" align="left"></a></td></tr></table>

<table border="0" cellpadding="8" cellspacing="0" class="dashed" width="$conf.gui.colwidth">
<tr><td valign="top">
<div class="foot">Localis se encuentra  <b>en desarrollo</b>, el funcionamiento de la interface puede, eventualmente, ser inestable.<br>
Contacto: <a href="mailto:mose@makina-corpus.net">mose</a>.</div>
</td></tr></table>

</td> 
<td valign="top">

<div class=corps>
<h2>Ayuda</h2>

La herramienta de búsqueda geográfica permite visualizar el resultado de una búsqueda en una base de datos contributiva. Está compuesta de varias interfaces.<br><br>

<b> La interfaz "formulario de búsqueda"</b><br>
<dl>
Seleccione los criterios de búsqueda :<br>
<dl>- El campo "Búsqueda" permite buscar en los titulos y las breves descripciones de los puntos de ingreso.<br>
3 menús desplegables que permiten elejir:<br>
- el <b>tipo</b> de objeto referenciado que queremos consultar (texto, página html, url, foto, ..).<br>
- la <b>categoria</b> contiene la clase de información presente en la base. Las categorias están previstas para multiplicarse con el uso.<br>
- el <b>usuario</b> permite mostrar todos los puntos de ingreso de un usuario particular.
</dl></dl>
Nota de utilización :<br>
Se pueden pedir cruces entre estos criterios para obtener un resultado que será entregado como un "mapa" en modo imagen, o como una lista en modo texto, en función del botón de validación que cliquee.<br>
<br>
<b> La interfaz "visualización de respuestas en modo lista (texto)"</b><br>
<dl>
Muestra cada lugar correspondiente a la petición, según puntos de interés, asi como un enlace hacia una ficha detallada sobre el lugar y su modalidad de funcionamiento.
</dl>
<b> La interfaz "visualización de respuestas en modo mapa (imagen)"</b><br>
<dl>
La lista está acompañada por la localización de los lugares en un mapa.<br>
Muestra una "barra de navegación" y una "lista de calcos" a la derecha del formulario de búsqueda.<br><br>
<dl>
<li> La lista de calcos.<br>
Todos los calcos están visibles cuando se ve el mapa por primera vez (departamentos, regiones, ...).<br><br>

<li> La barra de navegación<br>
Está compuesta de los siguientes elementos (de izquierda a derecha).<br>
- El botón "recentrar".<br>
Muestra el mapa completo de la región. Puede ser práctico volver a la vista general luego de haber navegado en un mapa.<br>
- El menú desplegable "400x400"<br>
Propone diferentes resoluciones gráficas para la visualización del mapa (200x200, 400x400, 600x600, 800x800).<br>
Para cambiar la resolución y refrescar la página, cliquee sobre el botón de validación 'mapa', o sino en 'recentrar' si desea regresar a la vista completa con la nueva resolución.<br>
Al cambiar de resolución, se mantienen tanto la búsqueda en curso asi como el encuadre elegido.<br>
- Una "barra de herramientas".<br>
Las herramientas se seleccionan cliqueando en el "botón radio", y se utilizan al cliquear en la carta.<br>
--&gt; la herramienta "lupa", cuyos iconos de zoom tienen los simbolos - (para alejarse) y + (para acercarse). El número (de 1 a 3) indica el nivel de zoom.<br>
--&gt; la herramienta "recentrar", cuyo icono es una cruz en el centro de la lupa, permite, cuando éste está seleccionado, moverse en el mapa. El punto cliqueado estará en el centro del mapa de la página siguiente.<br>
</dl></dl>
Nota :<br>
Cuando se consigió la visualización de las informaciones y el nivel de visibilidad deseado (presencia de éste o aquel calco, dimensión de la imagen), se puede conservar la dirección de esta vista / página con todas sus informaciones, o sea, la petición a las bases (como una url) que permite construir la vista.<br>
Esta particularidad tiene dos ventajas principales. Permite capitalizar sus "favoritos" (bookmarks), y el tiempo pasado en construir el documento personalizado (al guardar la petición en los favoritos). También le permite transmitir la dirección de la página a un interlocutor, para que éste no pierda tiempo reconstruyendo la vista, y estando seguro de trabajar sobre el mismo documento, al utilizar la misma petición para consultar las mismas bases.<br>
<br>
Tenga en cuenta que se trata de una herramienta en desarrollo, puede encontrarse con imperfecciones o problemas de funcionamiento.<br>
De ser asi, av&iacute;sele a <a href=mailto:mose@makina-corpus.org>mose</a>.
</div>
</td></tr></table>

