<table border="0" cellpadding="0" cellspacing="0">
<tr><td valign="top" width="$conf.gui.colwidth">

<table border=0 cellpadding=1 cellspacing=0 width="$conf.gui.colwidth" class=dashed>
<tr><td valign=top>
<a href="localis.php" class="noa"><img src="$conf.map.url/mini_+$conf.map.name+.png" width="$conf.map.ref_sizex" 
height="$conf.map.ref_sizey" name="ref" alt="$conf.map.name" hspace="0" vspace="0"  border="0" align="left"></a></td></tr></table>

<table border="0" cellpadding="8" cellspacing="0" class="dashed" width="$conf.gui.colwidth">
<tr><td valign="top">
<div class="foot">Localis se encuentra  <b>en desarrollo</b>, el funcionamiento de la interface puede ser inestable.<br>
Contacto: <a href="mailto:mose@makina-corpus.net">mose</a>.</div>
</td></tr></table>

</td> 
<td valign="top">

<div class=corps>
<h2>Ayuda</h2>
Localis permite visualizar el resultado de una búsqueda en varias bases de datos. Además,
Localis es una herramienta cartográfica contributiva en línea.
Permite al usuario agregar y calificar puntos en un mapa, a los que pueden acceder a su vez
otros usuarios. el conjunto de esas bases de datos georeferenciadas y cartográficas constituye
"la fuente de información".
<br><br>
esta herramienta está compuesta de varios módulos para los usuarios : <br><br>

<b>El modulo "formulario de búsqueda" : </b><br> 
Se puede especificar los elementos a buscar a través de los distintos campos de ingreso de datos :
<ul><li>El campo "Búsqueda" : es nada menos que un motor de búsqueda.</li>
<li>El menú desplegable : se puede acceder a los objetos presentes en "la fuente de información"
según las categorías precalificadas listadas en los menús desplegables.<br>
Se pueden cruzar los elementos seleccionados, a partir de las diferentes opciones de ingreso de
datos, para obtener respuestas más precisas.</li></ul>

<ul><b>Nota :</b><br>
Para pasar a la siguiente etapa, hay que seleccionar el modo de visualización de resultados :
como un "mapa" en modo imagen, o como una "lista" en modo texto.
Esta selección validará el conjunto de opciones elegidas por el usuario y someterá la petición
al servidor.</ul>
<br>

<b>El módulo "modo lista (texto)" :</b><br>
El conjunto de respuestas a la petición se presenta como una lista. Un enlace lleva hacia una
ficha detallada para cada respuesta.
<br><br><br>

<b>El módulo "modo mapa (imagen)" :</b><br>
La lista se acompaña con la localización de los puntos en un mapa.<br>
Se puede acceder a las herramientas propias a este modo de visualización, éstas son :
<ul>
<li> El mapa de navegación : es una representación en escala fija de la totalidad de la zona  
geográfica en cuestión y permite al usuario posicionar la representación visible en la imagen
principal.</li>

<li> El botón "recentrar" : muestra la totalidad del mapa de la región.
Puede ser práctico volver a la vista general luego de haber navegado en un mapa sin perder la
petición inicial.</li>

<li> El menú desplegable "400x400" : Propone diferentes resoluciones gráficas para la visualización del
mapa principal (200x200, 400x400, 600x600, 800x800).  Para cambiar la resolución y refrescar la página,
cliquee sobre el botón de validación '>>'. Al cambiar de resolución, se mantienen tanto la búsqueda en
curso asi como el encuadre elegido.</li>

<li>las opciones de "clic" del ratón sobre el mapa : Las herramientas se seleccionan cliqueando en su
"botón radio" correspondiente. <br>
Las opciones accesibles son : <ul>
<li>la opción <b>"Plantar una Bandera"</b> (la bandera dorada): al seleccionar esta opción, el usuario
puede "plantar" la bandera en algún lugar del mapa. Luego, puede ingresar información para ese punto.
Una vez el punto calificado, éste se encontrará accesible a la búsqueda para los otros usuarios.</li>
<li>la opción <b>"Lupa"</b>, sus iconos de zoom tienen los simbolos - (para alejarse) y + (para acercarse).
Tanto la escala como el indicador de distancia bajo el mapa son actualizados cada vez que se usa esta opción.
<li>la opción <b>"Recentrar"</b> situada entre las lupas (ícono en forma de cruz) permite, al seleccionarse,
desplazarse sobre el mapa. El punto seleccionado (con un clic) sobre el mapa estará en el centro del mapa
de la página siguiente. El uso de esta opción es el mismo tanto sobre el mapa principal como sobre el mapa
de navegación.</li>
<br></ul>
<li>Los elementos llamados "calcos" ("layers") aparte de filtrar la búsqueda, forman parte de la respuesta
cartográfica y mejoran la lisibilidad del mapa. Estas pueden seleccionarse independientemente (nombre de las
ciudades, contorno de las regiones...).<br>
Para poder ver el calco deseado en forma sencilla y para una misma petición, el usuario cuenta con el botón
"Recalcular".</li>
</ul>
<br>
<b>Note sobre las URL de Localis :</b><br>

Cuando se consigió la visualización de las informaciones y el nivel de visibilidad deseado (presencia de éste o aquel calco, dimensión de la imagen), se puede conservar la dirección de esta vista / página con todas sus informaciones, o sea, la petición a las bases (como una url) que permite construir la vista.<br><br>
Esta particularidad tiene dos ventajas principales : <ul>
<li>Permite capitalizar sus "favoritos" (bookmarks), y el tiempo pasado en construir el documento personalizado (al guardar la petición en los favoritos).</li>
<li>Permite transmitir la dirección de la página a un interlocutor, para que éste no pierda tiempo reconstruyendo la vista, y estando seguro de trabajar sobre el mismo documento, al utilizar la misma petición para consultar las mismas bases.</li>
</ul>
<br>
Tenga en cuenta que se trata de una herramienta en desarrollo, puede encontrarse con imperfecciones o problemas de funcionamiento.<br>
De ser asi, av&iacute;sele a <a href=mailto:mose@makina-corpus.org>mose</a>.
</div>
</td></tr></table>

