<table border="0" cellpadding="0" cellspacing="0">
<tr><td valign="top" width="$conf.gui.colwidth">

<table border=0 cellpadding=1 cellspacing=0 width="$conf.gui.colwidth" class=dashed>
<tr><td valign=top>
<a href="localis.php" class="noa"><img src="$conf.map.url/mini_+$conf.map.name+.png" width="$conf.map.ref_sizex" 
height="$conf.map.ref_sizey" name="ref" alt="$conf.map.name" hspace="0" vspace="0"  border="0" align="left"></a></td></tr></table>

<table border="0" cellpadding="8" cellspacing="0" class="dashed" width="$conf.gui.colwidth"> 
<tr><td valign="top">
<div class="foot">El mapa utilizado aqui es sólo un ejemplo.</div>
</td></tr></table>

</td> 
<td valign="top">
<div class="corps">
<h2>Bienvenido !</h2>

Localis es una herramienta cartográfica contributiva en l&iacute;nea. Permite visualizar sobre
un mapa puntos ingresados por otros usuarios, y agregar los propios.<br><br>

El mapa de Francia se entrega como ejemplo, pero Localis cuenta con una interfaz de administración 
que le permite agregar sus fondos cartográficos en formato .shp y dbf</div>

</td></tr></table>

