<table border="0" cellpadding="0" cellspacing="0">
<tr><td valign="top" width="$conf.gui.colwidth">

<table border="0" cellpadding="1" cellspacing="0" width="$conf.gui.colwidth" class="dashed">
<tr><td valign="top">
<input type="image" src="$ref_src" width="$conf.map.ref_sizex" 
height="$conf.map.ref_sizey" name="ref" alt="$conf.map.name" hspace="0" vspace="0" border="0"><br>
</td></tr></table>

<table border="0" cellpadding="4" cellspacing="0" width="$conf.gui.colwidth" class="dashed">
<tr><td valign="middle"><select name="size" class="submit" id="100">
<option value="240x240" $size_240x240>240x240</option>
<option value="400x400" $size_400x400>400x400</option>
<option value="600x600" $size_600x600>600x600</option>
<option value="800x800" $size_800x800>800x800</option>
</select></td>
<td align="right" valign="middle">
<div><input type="submit" name="nothing" value="&gt;&gt;" class="submit" id="100"></div>
</td></tr></table>

<table border="0" cellpadding="2" cellspacing="1" width="100%" class="dashed">
<tr><td valign="top" width="33%" align="center" class="tool$action_zoomout"
onclick='document.f.action[1].checked=true;'><div>
<img src="images/zoomout2.png" width="20" height="20" hspace="10" vspace="0" border="0" alt="Zoom Arrière" valign="top"><br>
<input type="radio" name="action" value="zoomout" $action_zoomout></div></td>
<td valign="top" width="34%" align="center" class="tool$action_travel"
onclick='document.f.action[2].checked=true;'><div>
<img src="images/travel.png" width="20" height="20" hspace="10" vspace="0" border="0" alt="Déplacement" valign="top"><br>
<input type="radio" name="action" value="travel" $action_travel></div></tD>
<td valign="top" width="33%" align="center" class="tool$action_zoomin"
onclick='document.f.action[3].checked=true;'><div>
<img src="images/zoomin2.png" width="20" height="20" hspace="10" vspace="0" border="0" alt="Zoom avant" valign="top"><br>
<input type="radio" name="action" value="zoomin" $action_zoomin></div></td>
</td></tr></table>

<table border="0" cellpadding="4" cellspacing="0" width="100%" class="dashed">
<tr><td valign="top">
<table border="0" cellpadding="0" cellspacing="0" width="100%">
$layer_menu</table>
<input type="submit" name="action" value="$conf.gui.refresh" class="submit" id="106">
</td></tr></table>

<table border="0" cellpadding="8" cellspacing="0" width="$conf.gui.colwidth"><tr><td valign="top">
<div class="foot">Localis se encuentra <b>en desarrollo</b>, el funcionamiento de esta interface puede, eventualmente, ser inestable.</div>
<div class="foot">Contacto Técnico: <a href="mailto:mose@makina-corpus.net">mose</a>.</div>
</td></tr></table>
<input type="hidden" name="extent" value="$extexploded">
<input type="hidden" name="scale" value="$scl">
</td>
<td valign="top">
<map name="localisation">
$map_locations
</map>
<table border="0" cellpadding="0" cellspacing="0" class="maptable">
<tr><td valign="top">
<input type="image" src="$image_src" width="$sizex" height="$sizey" alt="$conf.map.name" hspace="0" vspace="0" class="map" border="0" usemap="#localisation">
</td></tr></table>

<table border="0" cellpadding="0" cellspacing="0" width="100%">
<tr><td valign="top"><div class="foot">Escala: 1 / $scl </div></td>
<td valign="top" align="right">
<div class="foot">Copyleft (c)</div>
</td></tr></table>
<img src="$leg_src" border="0" alt="leyenda">
</form>
</td>
<td valign=top>
$list
</td></tr></table>

