# Localis Configuration file.

# Database parameters
#######################
# best choice is to create a mysql user specific to that usage
# mysqladmin -uroot -p create sig
# mysqladmin -uroot -p -e "grant all privileges on sig.* to sig@localhost identified by 'pass';"
# mysqladmin -uroot -p flush-privileges
[Database]
db_host      = localhost    # where mysql database is located
db_name      = localis 			# the name of the database
db_user      = localis      		# database username
db_pass  		 = localis      	# user password
# Search parameters
#####################
# search_fields_list are fields in database that refer to another table
# with a list of items. each space separated table has to be referef as
# ref_XXXX in the main info table.
# CREATE TABLE XXXX ( XXXX_ref int(11) NOT NULL auto_increment,
# XXXX_name char(50) default NULL, PRIMARY KEY  (XXXX_ref) )
#search_list = type 
#search_listresult = %s : <u>%s</u>
# search_fields_text are fields searched 'as-is' with standard final % wildcard
# in the main table

[General]
titre        = Localis
baseline     = Contributive Online GIS
company      = Localis Workgroup
company_url  = http://localis.berlios.de
editor_name  = Localis : Edit
root_path    = /var/www/mapserver/www
tpl_path     = /var/www/mapserver/www/template
tmp_path     = /var/www/mapserver/www/tmp
img_path     = /var/www/mapserver/www/images
sql_reftable = communes
sql_cityname = nom
search_listresult = <u>%s</u>

[Map]
name         = france
path 		     = /CVS_work/mapfr
file         = france.map
url          = /mapfr
ext_minx     = 0
ext_maxx     = 1267000
ext_miny     = 1630000
ext_maxy     = 2690000
ref_sizex    = 142
ref_sizey    = 142
coord_x      = E
coord_y      = N
dbf_def      = dbf://NOM,C,64,0/E,N,12,4/N,N,12,4

[Infos]
# Rows fetched (cityname, id, name, short description), layer name
firstjeudi   = rows://ville,id,nom,description/communes
lug   			 = rows://ville,id,nom,description/communes2
trolls 			 = rows://ville,id,nom,description/communes3
human 			 = rows://ville,id,nom,description/communes4

[Layers]
fond         = file://france.map
regions      = file://regions.map

[Select]
firstjeudi   = mysql://localis,firstjeudi,ville/localis,communes,NOM
lug          = mysql://localis,lug,ville/localis,communes,NOM
trolls       = mysql://localis,trolls,ville/localis,communes,NOM
human        = mysql://localis,trolls,ville/localis,communes,NOM

[Gui]
fond         = Fond
departements = Departements
regions      = Regions
communes     = Communes
type         = Type
refresh      = Recalculer
map_button   = Carte
list_button  = Liste
search       = Recherche
colwidth     = 146
debug        = 0
firstjeudi   = First Jeudi
lug          = LUG
trolls       = Trolls
human        = Humains
noresult     = Aucun résultat.

[Form]
search       = text://20/ville,nom
type  			 = select_list://all->[ Tous ],lug->LUG,firstjeudi->First Jeudi,trolls->Trolls,human->Humains
