# Database parameters
#######################
# best choice is to create a mysql user specific to that usage
# mysqladmin -uroot -p create sig
# mysqladmin -uroot -p -e "grant all privileges on sig.* to sig@localhost identified by 'pass';"
# mysqladmin -uroot -p flush-privileges
[Database]
db_host      = localhost
db_name      = localis_littoral
db_user      = localis
db_pass  		 = localis

[General]
root_path    = /usr/local/mapserver/www
tpl_path     = /usr/local/mapserver/www/localis_littoral/localis/template
tmp_path     = /usr/local/mapserver/www/localis_littoral/localis/tmp
img_path     = /usr/local/mapserver/www/localis_littoral/localis/images
sql_reftable = points
sql_cityname = nom
search_listresult = <u>%s</u>
lang         = fr

[Globals]
name         = L'Ile de Ré
minimap      = /maps/mini_re2.png
minimapx     = 142
minimapy     = 71
colwidth     = 146

# index.php
# +query  : query string appended in url
# +input  : contextual fields in forms 

# localis.php
# +imgsrc : image url
# +refsrc : ref image url
# +legsrc : legend image url
# +sizeXXXxXXX : size of display = selected
# +actXXX : action (edition, zoomin, travel, zoomout)
# +layermenu : layers (geo background)
# +catmenu   : categories (data foreground)
# +sizex
# +sizey
# +scale

[Map]
name         = re2
path 		     = /usr/local/mapserver/www/localis_littoral/re
file         = re.map
url          = /maps
minimap      = /maps/mini_re2.png
defext       = 295000 2130000 328000 2150000
ref_sizex    = 142
ref_sizey    = 71
coord_x      = E
coord_y      = N
dbf_def      = dbf://NOM,C,64,0/E,N,12,4/N,N,12,4

[Infos]
# Rows fetched (cityname, id, name, short description), layer name
points			 = rows://nom,id,nom,description/communes
#trolls 			 = rows://ville,id,nom,notes/communes3
#human 			 = rows://ville,id,nom,notes/communes4

[Layers]
fond         = Fond
ortho        = SigLittoral
detail       = Détails
communes     = Communes

[Select]
#points          = mysql://localis_littoral,points,nom/
#trolls       = mysql://localis_littoral,trolls,ville/localis_littoral,communes,NOM
#human        = mysql://localis_littoral,human,ville/localis_littoral,communes,NOM

[Gui]
departements = Departements
agglomerations      = Agglomerations
communes     = Communes
type         = Type
fit          = Recadrer
refresh      = Recalculer
map_button   = Carte
list_button  = Liste
search       = Recherche
colwidth     = 146
debug        = 0
noresult     = Aucun résultat.
moveleft_button    = l
moveright_button   = r
moveup_button      = u
movebottom_button  = b
defaultmapsize     = 400x400
