# Database parameters
#######################
# best choice is to create a mysql user specific to that usage
# mysqladmin -uroot -p create sig
# mysqladmin -uroot -p -e "grant all privileges on sig.* to sig@localhost identified by 'pass';"
# mysqladmin -uroot -p flush-privileges
[Database]
db_host      = localhost
db_name      = localis
db_user      = localis
db_pass      = localis

[General]
tpl_path     = /usr/local/mapserver/www/localis_demo/localis/template
tmp_path     = /usr/local/mapserver/www/localis_demo/localis/tmp
img_path     = /usr/local/mapserver/www/localis_demo/localis/images
sql_reftable = points
sql_cityname = nom
search_listresult = <u>%s</u>
lang         = fr

[Globals]
name         = Carte de la France Libre
minimap      = /mapfr/mini_france.png
minimapx     = 142
minimapy     = 142
colwidth     = 146

# index.php
# +query  : query string appended in url
# +input  : contextual fields in forms 

# localis.php
# +imgsrc : image url
# +refsrc : ref image url
# +legsrc : legend image url
# +sizeXXXxXXX : size of display = selected
# +actXXX : action (edition, zoomin, travel, zoomout)
# +layermenu : layers (geo background)
# +catmenu   : categories (data foreground)
# +sizex
# +sizey
# +scale

[Map]
name         = france
path 		     = /usr/local/mapserver/www/localis_littoral/mapfr
file         = france.map
url          = /maps
defext       = 1 1630000 1267000 2690000
defsize      = 400x400
shapepath    = data
coord_x      = E
coord_y      = N
dbf_def      = dbf://NOM,C,64,0/E,N,12,4/N,N,12,4

[Reference]
sizex        = 142
sizey        = 142
extent       = 1 1630000 1267000 2690000
image        = mini_france.png

[Gui]
type         = Type
fit          = Recadrer
refresh      = Recalculer
map_button   = Carte
list_button  = Liste
search       = Recherche
colwidth     = 146
debug        = 0
noresult     = Aucun résultat.
moveleft_button    = l
moveright_button   = r
moveup_button      = u
movebottom_button  = b

