<h2>Credits</h2>

<b>Free Software</b><br>
- Apache : http://apache.org/<br>
- EasyMapServer : http://easymapserver.berlios.de/<br>
- GDAL : http://remotesensing.org/gdal/<br>
- Gimp : http://gimp.org/<br>
- Mapserver : http://mapserver.gis.umn.edu<br>
- MySQL : http://www.mysql.com/<br>
- OverLib : http://www.bosrup.com/web/overlib/<br>
- OGR : http://gdal.velocet.ca/projects/opengis/<br>
- PHP : http://php.net/<br>
- Sketch : http://sketch.sourceforge.net/<br>
<br>

<b>Développement</b><br>
- Espace de travail sur <a href=http://developer.berlios.de/projects/localis/>BerliOS</a><br>
<br>

<b>Les dev</b><br>
- <a href=mailto:mose@makina-corpus.org >mose</a><br>
- <a href=mailto:mastre@makina-corpus.org >mastre</a><br>
<br>

<b>Historique</b><br>
- octobre 2002 : release sous licence GNU/GPL de Localis v0.4 et de EasyMapServer<br>
- août 2002 : travail sur la v0.3 pour en faire un outil plus générique, utilisable dans d'autres contextes, et release en GPL.<br>
- juillet 2002 : Localis v0.2 est livré sur le serveur de Médias-cité<br>
- mai 2002 : Localis v0.1 tourne sur le serveur de Makina Corpus<br>
- mars 2002 : Makina Corpus et Médias-cité financent le développement initial de Localis, avec le soutien du Conseil Régional d'Aquitaine, 
dans le cadre de son utilisation pour la représentation des points d'accés publics en Aquitaine.<br>
<br>

<a href="http://debian.org"><img src="images/debianmade.png" hspace=0 vspace=1 width="88" height="30" alt="Powered by Debian" border="0"></a><p>
<a href="http://vim.org"><img src="images/vimmade.png" hspace=0 vspace=1 width="88" height="30" alt="Made with VIM" border="0"></a><p>
<a href="http://www.bosrup.com/web/overlib/"><img src="images/overlib.png" hspace=0 vspace=1 width="88" height="31" alt="Popups by overLIB" border="0"></a><p>


