<input type="hidden" name="extent" value="$extexploded">
<input type="hidden" name="scale" value="$scl">
<a href=localis.php><img src="$image_src" border=1></a>
<h5>Echelle: 1 / $scl eme</h5>
</form>
<form action="localis.php" method='get'>
<input type="submit" name="fzoom" value=" $conf.gui.zoom_button " class="submit">
<input type="submit" name="fzoomout" value=" $conf.gui.zoomout_button " class="submit">
<input type=hidden name=type value=firstjeudi>
<input type=hidden name=action value="$act">
<input type="hidden" name="extent" value="$extexploded">
<input type="hidden" name="scale" value="$scl">
</form>
