<table border='0' cellpadding='8' cellspacing='0' width=100%>
<tr><td valign=top align=left>
<div style="margin-left:0"><a href="index.php?$qlang" class="dashed">&nbsp;Accueil&nbsp;</a></div>
<div style="margin-left:0;margin-top:8"><a href="index.php?help=1$qlang" class="dashed">&nbsp;Aide&nbsp;</a></div>
<div class=dashed>
<div style="margin-left:20;margin-top:10"><b>Rechercher</b><div class=foot></div></div>
<div style="margin:2 12 2 12"><input type="text" size="16" name="search" value="$search" class=maptable style=background:#ddeeff;font-weight:bold;padding:2;margin-left:10></div>
<div style="margin:4 12 12 12"><input type="submit" name="action" value="$conf.gui.map_button" class="submit" style=margin-left:8;background:#99ccff;><input type="submit" name="tpl" value="$conf.gui.list_button" class="submit" class=dashed style=margin-left:2;background:#99ccff;></div>
$ilang
<input type=hidden name=type value=human>
</div>

<div align=center style=margin-top:8>
<table border=0 cellpadding=0 cellspacing=0 class=maptable>
<tr><td valign=top align=center><a href="localis.php?$qlang"><img src="/maps/mini_france2.jpg" width="$conf.map.ref_sizex" 
height="$conf.map.ref_sizey" name="ref" alt="$conf.map.name" hspace="0" vspace="0"  border="0" align="top"></a></div></td></tr></table>
</center>
</td></tr></table>

<div class=dashed align=center>
<div style="margin:4"><input type="submit" name="forceextent.x" value=" Recadrer " class="submit" style="background:#99ccff;font-size:80%;font-weight:normal;"></div> 
</div>

