<table border="0" cellpadding="0" cellspacing="0">
<tr><td valign="top">

<table border="0" cellpadding="1" cellspacing="0" class="dashed">
<tr><td valign=top width="150">
<a href="localis.php" class="noa"><img src="$.minimap$" width="$.minimapx$" height="$.minimapy$" name="ref" alt="$.name$" hspace="0" vspace="0"  border="0" align="left"></a></td></tr></table>

<table border="0" cellpadding="8" cellspacing="0" width="100%">
<tr><td valign="top" align="center">
<div class="base" style="padding-top:1;margin-top:2;">
<a class="base" href="http://debian.org"><img src="images/debianmade.png" hspace="0" vspace="1" width="88" height="30" alt="Powered by Debian" border="0"></a></div>
<div class="base" style="padding-top:1;margin-top:2;">
<a class="base" href="http://vim.org"><img src="images/vimmade.png" hspace="0" vspace="1" width="88" height="30" alt="Made with VIM" border="0"></a></div>
<div class="base" style="padding-top:1;margin-top:2;">
<a class="base" href="http://www.bosrup.com/web/overlib/"><img src="images/overlib.png" hspace="0" vspace="1" width="88" height="31" alt="Popups by overLIB" border="0"></a></div>
</td></tr></table>

</td> 
<td valign="top">
<div class="corps">

$credit$

</div>
</td></tr></table>

