<table border="0" cellpadding="0" cellspacing="0">
<tr><td valign="top" width="$conf.gui.colwidth">

<table border=0 cellpadding=1 cellspacing=0 width="$conf.gui.colwidth" class=dashed>
<tr><td valign=top>
<a href="localis.php" class="noa"><img src="$conf.map.url/mini_+$conf.map.name+.png" width="$conf.map.ref_sizex" 
height="$conf.map.ref_sizey" name="ref" alt="$conf.map.name" hspace="0" vspace="0"  border="0" align="left"></a></td></tr></table>

<table border="0" cellpadding="8" cellspacing="0" class="dashed" width="$conf.gui.colwidth">
<tr><td valign="top">
<div class="foot">Localis est <b>en cours de developpement</b>, le fonctionnement de cette interface peut parfois etre perturbé.<br>
Contact: <a href="mailto:mose@makina-corpus.net">mose</a>.</div>
</td></tr></table>

</td> 
<td valign="top">
<div class=corps>
<h2>Credits</h2>

<ul> <b>Free Software</b>
<li> Apache : http://apache.org
<li> PHP : http://php.net
<li> Mapserver : http://mapserver.gis.umn.edu
<li> EasyMapServer : http://easymapserver.berlios.de
<li> OverLib : http://www.bosrup.com/web/overlib
<li> GDAL : http://remotesensing.org/gdal
<li> OGR : http://gdal.velocet.ca/projects/opengis/
<li> Gimp : http://gimp.org
<li> Sketch : http://sketch.sourceforge.net/
</ul>

<ul> <b>Développement</b>
<li> Espace de travail sur <a href=http://developer.berlios.de/projects/localis/>BerliOS</a>
</ul>

<ul> <b>Les dev</b>
<li> <a href=mailto:mose@makina-corpus.org >mose</a>
<li> <a href=mailto:mastre@makina-corpus.org >mastre</a>
</ul>

<ul> <b>Historique</b>
<li> mars 2002 : medias-cité finance en partie le developpement de Localis, avec le soutien du Conseil Régional d'Aquitaine, 
dans le cadre de son utilisation pour la representation des points d'acces publics en Aquitaine.
<li> mai 2002 : localis v0.1 tourne sur le serveur de Makina.
<li> juillet 2002 : Localis v0.2 est livré sur le serveur de Médias-cité.
<li> aout 2002 : travail sur la v0.3 pour en faire un outil plus generique, utilisable dans d'autres contextes, et release en GPL.
<li> aout 2002 : preparation d'une autre branche Localis Mer d'Antioche dans une version interactive.
<li> octobre 2002 : release en GPL de Localis et EasyMapServer
</ul>
</div>
</td></tr></table>

