<div class="dashed" id="form">
<table border=0 cellspacing=0 cellpadding=2 width=100%>
<input type=hidden name=addlong value=$coordx>
<input type=hidden name=addlat value=$coordy>
<tr>
<td colspan=2><div class=localis>Ajout de Point</div></td></tr>
<td colspan=2><div class=foot>X = $coordx</div></td></tr>
<td colspan=2><div class=foot>Y = $coordy</div></td></tr>
<tr>
<td colspan=2><div class=foot>Priorité</div>
<select name=addstatut>
<option>1</option>
<option>2</option>
<option>3</option>
<option>4</option>
<option>5</option>
</select></td>
</tr>
<tr>
<td colspan=2><div class=foot>Sujet</div>
<input type=text size=18 name=addnom value="$addnom"></td>
</tr>
<tr>
<td colspan=2><div class=foot>Email</div>
<input type=text size=18 name=addemail value="$addemail"></td>
</tr>
<tr>
<td colspan=2><div class=foot>Description</div>
<textarea cols=15 rows=5 name=adddesc>$adddesc</textarea></td>
</tr>
<tr><td colspan=2 align=left>
<input type=submit name=addit value=Ajouter>
</td></tr></table>
</div>
