<div class="dashed" id="form" style="margin-top:15px;">
<table cellpadding="2" cellspacing="0" border="0">
<input type="hidden" name="editlay[id]" value="$+lid$">
<tr><td colspan=2 style="margin-bottom:10px;border-bottom: 1px solid #334455;font-size:150%;color:#424242;">$editlayertitle$</td></tr>
<tr><td><b>$editlayername$</b></td><td><input type="text" size=14 name='editlay[name]' value='$+lname$'></td></tr>
<!-- <tr><td><b>$editlayergroup$</b></td><td><input type="text" size=14 name='editlay[group]' value='$+lgroup$'></td></tr>
<tr><td><b>$editlayertype$</b></td><td><select name='editlay[type]'>$+ltype$</select></td></tr>
<tr><td><b>$editlayercolor$</b></td><td><select name='editlay[color]'>$+lcolor$</select></td></tr>
<tr><td><b>$editlayersize$</b></td><td><select name='editlay[size]'>$+lsize$</select></td></tr> -->
<tr><td><b>$editlayersymbol$</b></td><td><select name='editlay[symbol]'>$+lsymbol$</select></td></tr>
<tr><td>&nbsp;</td><td><input type=submit name="editlay[add]" value="$editlayersubmit$" class="submit"></td></tR>
</table>
</div>
