<div class="dashed">
<table cellpadding=2 cellspacing=0 border=0>
<tr><td colspan=2 style="margin-bottom:10px;border-bottom: 1px solid #334455;font-size:150%;color:#424242;">Edition de Calque</td></tr>
<tr><td><b>Nom</b></td><td><input type=text size=14 name='nlay[nom]' value='$fnom'></td></tr>
<tr><td><b>Groupe</b></td><td><input type=text size=14 name='nlay[groupe]' value='$fgroupe'></td></tr>
<tr><td><b>Type</b></td><td><select name='nlay[type]'>$ftype_menu</select></td></tr>
<tr><td><b>Couleur</b></td><td><select name='nlay[color]'>$fcolor_menu</select></td></tr>
<tr><td><b>Epaisseur</b></td><td><select name='nlay[size]'>$fsize_menu</select></td></tr>
<tr><td><b>Symbole</b></td><td><select name='nlay[symbol]'>$fsymbol_menu</select></td></tr>
<tr><td>&nbsp;</td><td><input type=submit name=drawit value="enregistrer" class="submit"></td></tR>
</table>
</div>
