<div class="dashed" id="form" style="margin-top:0;border-top:0;">
<table border="0" cellspacing="0" cellpadding="2" width="100%">
<tr>
<td colspan="2"><div class="localis">$edittitre$</div></td></tr>
<td colspan="2"><div>$editlayer$</div>
<select name="add[layer]">
$+catmenu$
</select>
</div></td></tr>
<td colspan="2" nowrap><div>X
<input type="text" size="18" name="add[x]" value="$+coordx$"></div></td></tr>
<td colspan="2" nowrap><div>Y
<input type="text" size="18" name="add[y]" value="$+coordy$"></div></td></tr>
<tr>
<td colspan="2" nowrap><div>$editstatus$</div>
<select name="add[status]">
$+statusmenu$
</select></td>
</tr>
<tr><td colspan="2" nowrap><div>$editsubject$</div>
<input type="text" size="18" name="add[nom]" value="$+addnom$"></td>
</tr>
<tr>
<td colspan="2"><div>$editdesc$</div>
<textarea cols="15" rows="5" name="add[desc]">$+adddesc$</textarea></td>
</tr>
<tr>
<td colspan="2"><div>$editsign$</div>
<input type="text" size="18" name="add[sign]" value="$+addemail$"></td>
</tr>
<tr><td colspan="2" align="left">
<input type="submit" name="add[submit]" value="$editsubmit$">
</td></tr></table>
</div>
