<div class="dashed" id="form">
<table cellpadding=2 cellspacing=0 border=0>
<tr><td colspan=2 style="margin-bottom:10px;border-bottom: 1px solid #334455;font-size:150%;color:#424242;">$editlayertitle$</td></tr>
<tr><td><b>$editlayername$</b></td><td><input type=text size=14 name='lay[nom]' value='$+lname$'></td></tr>
<tr><td><b>$editlayergroup$</b></td><td><input type=text size=14 name='lay[groupe]' value='$+lgroup$'></td></tr>
<tr><td><b>$editlayertype$</b></td><td><select name='lay[type]'>$+ltype$</select></td></tr>
<tr><td><b>$editlayercolor$</b></td><td><select name='lay[color]'>$+lcolor$</select></td></tr>
<tr><td><b>$editlayersize$</b></td><td><select name='lay[size]'>$+lsize$</select></td></tr>
<tr><td><b>$editlayersymbol$</b></td><td><select name='lay[symbol]'>$+lsymbol$</select></td></tr>
<tr><td>&nbsp;</td><td><input type=submit name=drawit value="$editlayersubmit$" class="submit"></td></tR>
</table>
</div>
