<html>
<head>
<title>$conf.general.titre</title>
<meta name="keywords" content="">
<meta name="description" content="">
<link rel="stylesheet" type="text/css" href="localis.css">
</head>
<body marginheight="0" marginwidth="0" leftmargin="0" topmargin="0">
<div id="overDiv" style="position:absolute; visibility:hidden; z-index:1000;"></div>
<script language="JavaScript" src="overlib.js"><!-- overLIB (c) Erik Bosrup --></script>
<table border="0" cellpadding="1" cellspacing="0" width="100%">
<form action="localis.php" method="get" name="f">
<tr><td valign="top" align="center" bgcolor="#d8dbdf" width="153">
<a name=top href="$conf.general.company_url" style="margin-left:14" class="noa">$conf.general.company</a><br>
</td>
<td align="left"><tt style="margin-left:12px;">$conf.general.baseline</tt></td>
<td valign="top" align="right">
<div class="foot">by <a href="http://makina-corpus.com" class="noa">Makina Corpus</a>&nbsp;
<a href=index.php?lang=fr><img src=images/fr.png border=1 hspace=3 vspace=0 alt=fr></a>
<a href=index.php?lang=en><img src=images/en.png border=1 hspace=3 vspace=0 alt=en></a>
<a href=index.php?lang=es><img src=images/es.png border=1 hspace=3 vspace=0 alt=es></a>
&nbsp;
</div>
</td></tr></table>

<table border="0" cellpadding="0" cellspacing="0" width="100%">
<tr><td valign="top" bgcolor="#666666">
<img src="images/0.png" width="1" height="1" hspace="0" vspace="0" border="0" alt=''><br>
</td></tr></table>

