<html>
<head>
<title>$headhtmltitle$</title>
<meta name="keywords" content="$headmetakey$">
<meta name="description" content="$headmetadesc$">
<link rel="stylesheet" type="text/css" href="$headcssfile$">
</head>
<body marginheight="0" marginwidth="0" leftmargin="0" topmargin="0">
<div id="overDiv" style="position:absolute; visibility:hidden; z-index:1000;"></div>
<script language="JavaScript" src="overlib.js"><!-- overLIB (c) Erik Bosrup --></script>
<table border="0" cellpadding="1" cellspacing="0" width="100%">
<form action="localis.php" method="get" name="f">
<tr><td valign="top" align="center" class="top1" width="153">
<a name=top href="$headorgurl$" style="margin-left:14" class="noa">$headorgname$</a><br>
</td>
<td class="top2"><tt style="margin-left:12px;">$headbaseline$</tt></td>
<td valign="bottom" align="right" class="top2">
<a href="localis.php?flang=fr$+query$" class="lang$+langfr$"><img src="images/fr.png" width="18" height="12" border="1" hspace="4" vspace="0" alt="fr" align="middle"></a>
<a href="localis.php?flang=en$+query$" class="lang$+langen$"><img src="images/en.png" width="18" height="12" border="1" hspace="4" vspace="0" alt="en" align="middle"></a>
<a href="localis.php?flang=es$+query$" class="lang$+langes$"><img src="images/es.png" width="18" height="12" border="1" hspace="4" vspace="0" alt="es" align="middle"></a>
</td></tr></table>

<table border="0" cellpadding="0" cellspacing="0" width="100%">
<tr><td valign="top" bgcolor="#000000">
<img src="images/0.png" width="1" height="1" hspace="0" vspace="0" border="0" alt=""><br>
</td></tr></table>

