<table border="0" cellpadding="0" cellspacing="0">
<tr><td valign="top" width="$conf.gui.colwidth">

<table border=0 cellpadding=1 cellspacing=0 width="$conf.gui.colwidth" class=dashed>
<tr><td valign=top>
<a href="localis.php" class="noa"><img src="$conf.map.url/mini_+$conf.map.name+.png" width="$conf.map.ref_sizex" 
height="$conf.map.ref_sizey" name="ref" alt="$conf.map.name" hspace="0" vspace="0"  border="0" align="left"></a></td></tr></table>

<table border="0" cellpadding="8" cellspacing="0" class="dashed" width="$conf.gui.colwidth">
<tr><td valign="top">
<div class="foot">Localis est <b>en cours de developpement</b>, le fonctionnement de cette interface peut parfois etre perturbé.<br>
Contact: <a href="mailto:mose@makina-corpus.net">mose</a>.</div>
</td></tr></table>

</td> 
<td valign="top">

<div class=corps>
<h2>Aide</h2>

Localis permet de visualiser le résultat d'une recherche effectuée dans plusieurs
bases de données. D'autre part, Localis est un outil cartographique en ligne contributif.
Il permet à l'utilisateur d'ajouter et de qualifier sur une carte des points, les rendant
accessible aux autres utilisateurs. L'ensemble de ces bases de données référentielles et 
cartographiques constitu "la source de l'information". 
<br><br>
Cet outil est composé de plusieurs modules à destination des utilisateurs.<br>

<b> L'interface "formulaire de recherche"</b><br>
<dl>
Choisissez des critères de recherche :<br>
<dl>- Le champs "Recherche" permet de rechercher dans les intitulés et les courtes descriptions des points de saisie.<br>
3 menus déroulants permettant de choisir:<br>
- le <b>type</b> d'objet référencé qu'on veut consulter (texte, page html, url, photo, ..).<br>
- la <b>catégorie</b> contient le genre d'information contenu dans la base. Les catégories sont drestinées à se multiplier au fur et à mesure de l'usage.<br>
- l'<b>utilisateur</b> permet d'afficher tous les points de saisie d'un utilisateur particulier.
</dl></dl>
Note d'utilisation :<br>
Il est possible de demander des croisements entre ces différents critères pour obtenir un résultat qui sera livré soit sous forme de "carte" en mode image, soit sous forme de "liste" en mode texte. Et ce selon le bouton de validation que vous cliquerez.<br>
<br>
<b> L'interface "affichage des réponses en mode liste (texte)"</b><br>
<dl>
Chaque lieu qui correspond à la requête est affiché, par point d'intérêt, et un lien mène vers une fiche détaillée sur le lieu et ses modalités de fonctionnement.
</dl>
<b> L'interface "affichage des réponses en mode carte (image)"</b><br>
<dl>
La liste est accompagnée de la localisation des lieux sur la carte.<br>
Une "barre de navigation" est maintenant visible, ainsi qu'une "liste de calques" à droite du formulaire de recherche.<br><br>
<dl>
<li> La liste de calques.<br>
Lors du premier affichage l'ensemble des calques est visible (départements, régions, ..).<br><br>

<li> La barre de navigation<br>
Elle est composée des éléments suivants (de gauche à droite).<br>
- Le bouton "recadrer".<br>
Il permet d'afficher la carte de la région dans sa totalité. Il est très pratique, par exemple, après avoir navigué sur la carte de pouvoir revenir à la vue d'ensemble.<br>
- Le menu déroulant "400x400"<br>
Il propose différents choix de résolution pour l'affichage de la carte (200x200, 400x400, 600x600, 800x800).<br>
Pour changer la résolution en rafraîchissant la page, cliquez sur le bouton de validation 'carte', ou bien 'recadrer' si vous voulez revenir à la vue d'ensemble avec cette nouvelle résolution.<br>
Si vous changez de résolution vous ne perdrez ni votre recherche en cours, ni le cadrage que vous avez choisi.<br>
- Une "barre d'outils".<br>
Après avoir cliqué sur outil, pour le sélectionner (en activant de "boutons radio"), il est possible de l'utiliser en cliquant sur la carte.<br>
--&gt; l'outil "loupe", les icônes de zoom sont de type - (pour s'éloigner) et + (pour se rapprocher). Le chiffre (de un à trois) indique le niveau de zoom qu'on souhaite produire.<br>
--&gt; l'outils "recentrer", icône de la croix, au centre des loupes permet, quand il est sélectionné, de se déplacer sur la carte. Le point sur lequel vous cliquez sur la carte sera au centre de la carte qui s'affichera sur la page suivante.<br>
</dl></dl>
Note d'utilisation :<br>
Après avoir obtenu l'affichage des informations que vous désiriez avec le niveau de lisibilité souhaité (présence de tel ou tel calque, la dimension de l'image). Il vous est possible de conserver l'adresse de cette vue/page avec l'ensemble des informations la constituant. C'est à dire la requête permettant d'obtenir les informations dans les bases.<br>
Cette particularité a deux avantages principaux. Elle vous permet de capitaliser dans vos "signets" (ou "favoris" ou encore "bookmarks") le temps que vous avez passé pour obtenir un document de référence personnel (en stockant la requête). Elle vous permet par ailleurs de pouvoir transmettre l'adresse de cette page à un interlocuteur. Ce qui lui permet de ne pas perdre de temps à retrouver la même vue que vous, tout en étant certain de travailler par la suite sur le même document, puisqu'utilisant la même requête pour interroger les mêmes bases.<br>
<br>
Gardez à l'esprit que cet outil est en développement, vous pourrez constater des imperfections voire des dysfonctionnements.<br>
 Merci de les signaler, le cas échéant, à <a href=mailto:mose@makina-corpus.org>mose</a>.
</div>
</td></tr></table>

