<table border='0' cellpadding='8' cellspacing='0' class='topnav'>
<tr><td valign="bottom" bgcolor="#d8dbdf" align="center" width="128">
<div class="localis"><a href="index.php" class="noa">&nbsp;Localis&nbsp;</a></div>
<div><a href="index.php?help=1" class="dashed">&nbsp;Aide&nbsp;</a></div>
</td>
<td valign="bottom" align="center">
Affichage en<br>
&nbsp;<input type="submit" name="action" value="$conf.gui.map_button" class="submit">
<input type="submit" name="tpl" value="$conf.gui.list_button" class="submit">
</td>
<td valign="bottom" align="left">
<b>Recherche</b> <input type="text" size="34" name="search" value="$search"></font><br>
<b>Type</b> <select name="type">
$menu_type
</select>
</td></tr></table>
